@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light-Gray: hsl(194, 46%, 89%);
  --Grayish-Blue: hsl(220, 15%, 55%);
  --Dark-Blue: hsl(218, 44%, 22%);
  --Span: hsl(192, 72%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Outfit", sans-serif;
  background: var(--Light-Gray);
}

article {
  max-width: 20rem;
  padding: 1rem;
  border-radius: 1.2rem;
  background: var(--White);
  box-shadow: 0 0.13rem 1rem rgba(50, 50, 83, 0.3);
  transition: 0.9s ease;
}

img {
  border-radius: 0.63rem;
  filter: contrast(2);
  filter: hue-rotate(-40deg);
}

.main-content {
  text-align: center;
  margin: 1.25rem 0.63rem;
}

h1 {
  font-size: 1.38rem;
  margin-bottom: 1.25rem;
}

p {
  color: var(--Grayish-Blue);
}

p span {
  font-weight: bold;
  color: var(--Span);
}

/* ******************** */
/* ANIMATION */
/* ******************** */

.entrance-animation {
  animation: entrance-animation 1.1s both;
}

@keyframes entrance-animation {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
